.aboutTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.aboutTitle h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: gilSans;
  letter-spacing: 1px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .aboutTitle h1 {
    width: 20rem;
    text-align: center;
  }
}

.aboutInfoContainer {
  margin: auto;
  max-width: 54rem;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* .aboutInfoContainer img {
  margin: 5px;
  width: 22rem;
  height: auto;
} */

.aboutBox {
  /* display: flex;
  flex-direction: column; */
  /* max-width: 25rem; */
  max-width: 44rem;
  min-width: 20rem;
  font-family: gilSans;
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.aboutBox img {
  width: 22rem;
  height: auto;
  margin: 5px;
}

.aboutCredentials {
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.aboutCredentials p {
  font-family: gilSans;
  font-style: italic;
  font-size: 1.2rem;
}

.aboutBlogTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* .aboutBlogTitle h1 {
  margin: 0;
  color: rgb(93, 93, 93);
  font-family: gilSans;
  letter-spacing: 1px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .aboutBlogTitle h1 {
    width: 20rem;
    text-align: center;
  }
} */

.aboutBrokerTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.aboutBrokerTitle h1 {
  margin: 0;
  color: rgb(93, 93, 93);
  font-family: gilSans;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

.aboutBrokerBox {
  margin: auto;
  max-width: 54rem;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.aboutBrokerInfo {
  display: flex;
  flex-direction: column;
  max-width: 44rem;
  min-width: 20rem;
  font-family: gilSans;
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}

.aboutBrokerImage {
  display: flex;
  max-width: 25rem;
  min-width: 20rem;
  font-family: gilSans;
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
}

.aboutBrokerImage img {
  max-width: 100%;
  height: auto;
  padding-top: 2rem;
}

#modglinQuote {
  text-align: center;
  font-style: italic;
}

.aboutResourceBox {
  /* text-align: justify; */
  font-size: 1.2rem;
  letter-spacing: 1px;
  /* text-align: justify; */
}
