.pageHead {
  font-family: Helvetica Neue;
}

.pageHead h1 {
  font-size: 3rem;
  font-weight: normal;
}

.pageHead p {
  font-size: 1.5rem;
}

.divider-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 28rem;
  width: 100vw;
  flex-wrap: wrap;
  max-height: 2000rem;
}

.landingContainer {
  position: relative;
}

.spacer {
  height: 10rem;
}

.divider-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 58rem;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}

.firstParagraph {
  text-indent: 4rem;
}

.lineBreak {
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 5rem;
  width: 100%;
}

@media (max-width: 860px) {
  .lineBreak {
    margin-bottom: 1rem;
  }
}

.spaceTop {
  margin-top: 3rem;
}
