.authPage {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
  background-position: center;
  /* padding-top: 20rem; */
}

.authContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  background: rgba(238, 238, 238, 0.493);
  margin-top: 10rem;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);
}

@media (max-width: 600px) {
  .authContainer {
    width: 20rem;
  }
}

.loginTitle {
  margin-top: 2rem;
  width: 100%;
}

.loginTitle h1 {
  color: rgb(7, 7, 7);
  font-family: Helvetica Neue;
  letter-spacing: 1.5px;
  font-weight: normal;
  text-align: center;
}

.authContainer form {
  width: 98%;
}

.nameInput {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.passwordInput {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#user {
  background: transparent;
  width: 16rem;
  height: 3rem;
  border: transparent;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 1.1rem;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
  font-weight: normal;
}

#password {
  background: transparent;
  width: 16rem;
  height: 3rem;
  border: transparent;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 1.1rem;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
  font-weight: normal;
}

.authSubmit {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.authSubmit button {
  height: 2.5rem;
  width: 8rem;
  background-color: rgba(0, 0, 0, 0.637);
  box-shadow: none;
  border: none;
  color: white;
  font-family: Helvetica Neue;
  letter-spacing: 1px;
}
