.coolInboxContainer {
  background-image: url(../Resources/cyber3.jpg);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  margin-bottom: 0;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.coolInboxContainer h1 {
  color: red;
  margin: auto;
}

.whyDoIDoThis {
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  background: transparent;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  left: 0;
  right: 0;
}

.coolMessageLayout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 40rem;
  margin: auto;
  margin-top: 5rem;
  max-width: 80rem;
}

.boxButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 15rem;
  max-height: 80rem;
  font-family: neuro;
  /* min-height: 40rem;
  max-width: 60rem;
  min-width: 20rem; */
  color: rgb(0, 247, 255);
}

.unreadMessagesButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border: 1px solid rgba(255, 16, 16, 0.445);
  border-right: transparent;
  height: 3rem;
  font-size: 1rem;
  margin-bottom: 1px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.404);
}

.bigUnreadMessagesButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  border: 1px solid rgb(255, 16, 16);
  border-right: transparent;
  height: 3.5rem;
  font-size: 1.1rem;
  margin-bottom: 1px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.575);
  box-shadow: 2px 2px 3px black;
}

.readMessagesButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border: 1px solid rgba(255, 16, 16, 0.445);
  border-right: transparent;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.404);
}

.bigReadMessagesButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  border: 1px solid rgb(255, 16, 16);
  border-right: transparent;
  height: 3.5rem;
  font-size: 1.1rem;
  margin-bottom: 1px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.575);
  box-shadow: 2px 2px 3px black;
}

.innerCoolInbox {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: auto;
  /* margin: auto; */
  width: 100%;
  border: 1px solid rgba(255, 16, 16, 0.445);
  /* box-shadow: 1px 1px 2px rgb(248, 26, 26), -1px -1px 3px rgb(230, 26, 26); */
}

.iHateYou {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.noMessages h1 {
  text-align: center;
  font-family: neuro;
  color: red;
  font-weight: normal;
}
