.sellerTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sellerTitle h1 {
  margin: 0;
  color: rgb(93, 93, 93);
  font-family: gilSans;
  letter-spacing: 2px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .sellerTitle h1 {
    width: 20rem;
    text-align: center;
  }
}

.seller-resources1-container {
  margin: auto;
  max-width: 54rem;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.sellerResourceBox {
  display: flex;
  flex-direction: column;
  max-width: 43rem;
  min-width: 20rem;
  font-family: gilSans;
  margin: 0;
  font-size: 1.2rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

.sellerResourceBox img {
  max-width: 100%;
}

.sellerResourceBox p {
  margin-left: 2rem;
  text-align: left;
}

.sellerInfographicContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 54rem;
  min-width: 20rem;
  overflow: hidden;
}

.sellerInfographicContainer img {
  max-width: 100%;
}

.sellerLinkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 43rem;
  min-width: 18rem;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sellerLinkBox h1 {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgb(71, 71, 71);
}

.sellerLinkBox a {
  text-align: center;
  letter-spacing: 1px;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  font-family: gilSans;
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.sellerLinkBox a:hover {
  color: rgb(0, 27, 148);
}

.sellerParagraphHead {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sellerParagraphHead p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: gilSans;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.sellerResourceBox2 {
  max-width: 43rem;
  min-width: 20rem;
  font-family: gilSans;
  margin: 0;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.sellerResourceBox2 img {
  /* float: right; */

  margin: 7px;
  width: 22rem;
  height: auto;
  margin-bottom: 1px;
}

.sellerResourceText {
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.sellerResourceBox3 {
  max-width: 43rem;
  min-width: 20rem;
  font-family: gilSans;
  position: relative;
  overflow: hidden;
  margin: 0;
  font-size: 1.2rem;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  text-align: center;
  margin-top: 1rem;
}

.sellerResourceBox3 img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

@media (max-width: 430px) {
  .sellerResourceBox2 img {
    margin: 0px;
    width: 21rem;
    margin: auto;
    margin-bottom: 1rem;
  }
}
