.image-cover {
  background-color: rgba(94, 94, 94, 0.4);
  z-index:50;
  height: 100%;
  width: 100%;
}

.landing-self-picture-container {
  width: 25rem;
  height: 15rem;
  transform: skew(0deg, -5deg);
  margin-bottom: 2.4rem;
  margin-left: 1rem;
}

.landing-self-picture {
  height: 100%;
  width: 25rem;;

}

.landing-self-info {
 
 height: 15rem;
 width: 25rem;
 margin-top: 2.4rem;
 margin-right: 1rem;
 transform: skew(0deg, -5deg);
}
.landing-self-info p {
 font-size: 1rem;
 font-family: Helvetica Neue;
}