.image-cover {
  background-color: rgba(94, 94, 94, 0.4);
  z-index:40;
  height: 100%;
  width: 100%;
}

.landing-self-picture-container {
  display: flex;
  justify-content: center;
  max-width: 25rem;
  height: auto;
  /* transform: skew(0deg, -5deg); */
 
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

.landing-self-picture {
  width: 100%;
  height: auto;
  
}

@media (max-width: 860px) {
.landing-self-picture-container {
  max-width: 25rem;
  margin-bottom: 1rem;
}
}

@media (max-width: 860px) {
  .landing-self-picture {
    max-width: 25rem;
  }
  }

.landing-self-info {
 

 max-width: 25rem;
 min-width: 20rem;
 margin-left: 1rem;
 margin-right: 1rem;

 /* transform: skew(0deg, -5deg); */
}
.landing-self-info p {
 font-size: 1.2rem;
 font-family: Helvetica Neue;
 letter-spacing: .1rem;
 margin-top: 0rem;
}

.listingTitle {
 
 display: flex;
 width: 100%;
 padding-top: 3rem;
 justify-content: center;
}

.listingTitle p{
  color: white;
  font-family: Helvetica Neue;
  font-size: 2.5rem;

}

.newsSection__title {
  display: flex;
  flex-direction: column;
  font-family: Helvetica Neue;
  color: rgb(48, 48, 48);
  justify-content: center;
  margin-top: 2rem;
}

.newsSection__title h1{
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
}

.newsSection__title p{
  font-size: 1.5rem;
  justify-self: center;
  margin-top:0;
}

.introInfoContainer {
  margin: auto;
  max-width: 54rem;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.introTitle {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.introTitle h1 {
  width: 35rem;
  margin: 0;
  color : rgb(93, 93, 93);
  font-family: Helvetica Neue;
  letter-spacing: 2px;
  /* font-weight: normal; */
  text-align: center;
}

@media (max-width: 860px) {
  .introTitle h1 {
    width: 22rem;
  }
}

@media (max-width: 860px) {
  .introInfoContainer {
    max-width: 100%;
  }
}

#chantzQuote {
  font-style: italic;
  font-family: Helvetica Neue;
  text-align: center;
  margin-top: 4rem;
}

#chantzSig {
  font-style: italic;
  font-family: Helvetica Neue;
  text-align: center;
}