.map-container {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  position: relative;
  max-width: 40rem;
  margin:auto;
  margin-top: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 1.5rem;
  opacity: 1;
  transition: 1s ease


}

.map-container-hidden {
  position: relative;
  max-width: 40rem;
  margin:auto;
  margin-top: 2rem;
  height: auto;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 1.5rem;
  opacity: 0;
  transition: 1s ease;
}

.map-container img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.map-container p {
  font-size: 1rem;
  color: white;
  font-weight: bolder;
  position: absolute;
  transition: 1s ease;
  cursor: pointer;
  padding: 2rem;
}

.map-container p:hover {
  font-size: 1.7rem;
  transition: 1s ease;


}


#jennings {
  top: 34%;
  left: 44%;
}

#jennings:hover {
  top: 31%;
  left: 41%;
}



#jackson {
top: 40%;
left: 26%;
}

#jackson:hover {
  top: 37%;
  left: 23%;
}

#bartholemew {
  top: 21%;
  left: 30%;
}

#bartholemew:hover {
  top: 18%;
  left: 27%;
}


#jefferson {
  top: 47%;
  left: 53%;
}

#jefferson:hover {
  top: 44%;
  left: 50%;

}
.map-instruct {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 40rem;
  font-family: gilSans;
  font-size: 1.3rem;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

@media(max-width: 450px) {

  .map-container p {
    font-size: 0.8rem;
    color: white;
    font-weight: bolder;
    position: absolute;
    transition: 1s ease;
    cursor: pointer;
    padding: 1rem;
  }

  .map-container p:hover {
    font-size: 1.3rem;
    transition: 1s ease;


  }


  #jennings {
    top: 34%;
  left: 44%;
  }

  #jennings:hover {
    top: 31%;
    left: 41%;
  }



  #jackson {
  top: 40%;
  left: 26%;
  }

  #jackson:hover {
    top: 37%;
    left: 23%;
  }

  #bartholemew {
    top: 21%;
    left: 28%;
  }

  #bartholemew:hover {
    top: 18%;
    left: 25%;
  }


  #jefferson {
  top: 47%;
  left: 53%;
  }

  #jefferson:hover {
    top: 44%;
    left: 50%;

  }

  .map-instruct {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.local-head {
  color: rgb(65, 65, 65);
  font-family: gilSans;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 1px;

}

.no-link {
  font-family: gilSans;
  font-size: 1.2rem;
  margin: 3px;
}

.back-map-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(65, 65, 65);
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
  border: none;
  height: 3rem;
  width: 11rem;
  font-family: gilSans;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms ease;
  padding-left: 1rem;
  padding-right: 1rem;


}

.back-map-button:hover {
  box-shadow: none;
  transition: 200ms ease;
  color: orange;
}

.back-map-arrow {
  margin-bottom: 4px;
}