.carousel__container {
 
  display: flex;
  justify-content: center;
  padding-top: 25rem;
  z-index: 100;
}

.item__slider {
  position: relative;
  width: 66rem;
  /* change above to make responsive, you idiot */
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  overflow: hidden;
}

.item__Slide {

  transition: .5s;
 
  padding: -2rem;
}

#item-slider__goLeft{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height:80%;
  left:0;
  background: none;
  border: none;
  outline: none;
  transition: .5s;
}

#item-slider__goRight{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height:80%;
  right: 0;
  background: none;
  border: none;
  outline:none;
  transition: .5s;
}