.houseCarousel__container {
  position:relative;
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  z-index: 100;
  height: 32rem;
}

.item__slider {
  position: relative;
  width: 66rem;
  /* change above to make responsive, you idiot */
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  overflow: hidden;
}

.item__Slide {

  transition: .5s;
 
  padding: -2rem;
}

#item-slider__goLeft{
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  width: 8%;
  height:30rem;
  left:0;
  background: transparent;
  border: none;
  outline: none;
  transition: .5s;
}

#item-slider__goRight{
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  width: 8%;
  height:30rem;
  right: 0;
  background: transparent;
  border: none;
  outline:none;
  transition: .5s;
}

.arrow {
  color: white;
  /* background-color: white; */
}

.arrow :hover {
  color: black;
}