.message__Container__read {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(134, 134, 134);
  background: rgb(221, 16, 16);
}

.message__Container__unread {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(128, 128, 128);
  background: rgba(112, 112, 112, 0.116);
}

.message__Container__unread:hover,
.message__Container__read:hover {
  box-shadow: 1px 1px 2px black;
}
.messageDetails {
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  min-height: 2rem;
  align-items: center;
}

#messageDate {
  margin: 0;
  margin-left: 3px;
}

#messageName {
  margin: 0;
}

.messageDetails input {
  margin: 0;
  justify-self: end;
  margin-right: 2.2rem;
}

#messageTrashIcon {
  margin: 0;
  justify-self: end;
  margin-right: 2rem;
  cursor: pointer;
}

.messageContent__Large {
  padding: 0.5rem;
  opacity: 1;
  transition: all 1s ease;
}

.messageContent__Small {
  opacity: 0;
  height: 0;
  overflow-y: hidden;
  transition: all 1s ease;
}

.messageClickCover {
  position: absolute;
  width: 65%;
  z-index: 10;
  height: 100%;
}
