@font-face {
  font-family: 'avenir';
  src: url(./Resources/Fonts/avenir_ff//AvenirLTStd-Book.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'proxima';
  src: url(./Resources/Fonts/proxima-light/Proxima\ Nova\ Alt\ Light.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'gilSans';
  src: url(./Resources//Fonts/Gill-Sans-Font-Family/Gill\ Sans\ Light.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'neuro';
  src: url(./Resources//Fonts/Neuro//neuropol\ x\ rg.ttf);
  font-style: normal;
  font-weight: 100;
}
