/* THIS WILL HAVE TO BE GIANT COLUMN FOR MOBILE */

.fullFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  margin-bottom: 0px;
}

.footer-top {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(94, 94, 94);
}

.footer-columnOne {
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Helvetica Neue;
  color: rgb(194, 194, 194);
  font-size: 2rem;
}

.footer-name {
  letter-spacing: 0.1rem;
  color: white;
}

.footer-brokerAddress {
}

.footer-brokerAddress p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.footer-Phone-Email {
  margin-top: 1rem;
}

.footer-Phone-Email p {
  margin-bottom: 0;
  margin-top: 0;
}

.footer-columnOne p {
  font-size: 1.1rem;
}

.footer-columnTwo {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: Helvetica Neue;
  font-size: 1.2rem;
  justify-content: center;
  color: white;
}

.footer-columnTwo a {
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  margin-bottom: 0.8rem;
  margin-top: 0rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
}

.footer-columnTwo a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.footer-workWithChantz {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  width: 15rem;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.footer-workWithChantz:hover {
  background-color: black;
}

.footer-workWithChantz a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0;
  font-size: 1rem;
  border-bottom: 0px transparent;
  color: inherit;
  margin: none;
}

.footer-workWithChantz a:hover {
  color: white;
}

.footer-workWithChantz p:hover {
  color: white;
}

.footer-workWithChantz p {
  color: inherit;
  text-decoration: none;
  margin: 0;
  font-size: 1rem;
  border-bottom: 0px transparent;
}

.footer-columnThree {
  text-align: center;
  width: 15rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-family: Helvetica Neue;
}
.broker-bit p {
  margin: 0;
  cursor: pointer;
}

.broker-bit {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin-bottom: 0rem;
}

.broker-bit img {
  width: 100%;
  height: auto;
}

.footerBroker-icon {
}

.footer-midLine {
  border-left: 1px solid white;
  width: 2px;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-brokerName {
  font-size: 2rem;
}

.footer-bottomLine {
  border-top: 1px solid white;
  width: 14rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.footerIconContainer {
}

.footer-contact-title {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.footerIconContainer {
  display: inline-block;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 8rem;
  background-color: rgba(2, 2, 2, 0.925);
}

.copyright-Container {
}

.copyright-Container p {
  color: white;
  font-family: Helvetica Neue;
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 0.2rem;
}

.contactIcon {
  color: white;
}

.contactIcon:hover {
  color: black;
}

.footerLicense {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footerLicense p {
  margin: 0;
}

@media (max-width 818px) {
  .footerLicense p {
    text-align: center;
  }
}

@media (max-width: 1058px) {
  .footer-columnOne {
    width: 15rem;
  }
}

@media (max-width: 1058px) {
  .footer-columnTwo {
    width: 15rem;
  }
}

@media (max-width: 1058px) {
  .footer-columnThree {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 818px) {
  .footer-columnOne {
    text-align: center;
  }
}

@media (max-width: 818px) {
  .footer-columnTwo p {
    margin: auto;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 818px) {
  .footer-workWithChantz p {
    margin-bottom: 0.9rem;
  }
}
